@font-face {
    font-family: myfont;
    src: url(../fonts/Quicksand-SemiBold.ttf) format("opentype");
}

*{
    font-family: myfont!important;
}

html, body {
    color: #5a574f!important;
    height: 100%;
    margin: 0;
}

#content {
    min-height: 100%;
}

.nav-url {
    height: 50px;
    background-color: #e6e7e9;
}

.nav-url div ul {
    background-color: #e6e7e9;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 15px;
}

ul.breadcrumb li a.this-page {
    color: #ef0126;
}

ul.breadcrumb li a.pre-page {
    color: #403e3f;
}
ul.breadcrumb li a.pre-page:hover {
    color: #ef0126;
}

.breadcrumb li:not(:first-child)::before {
    content: "►";
    color: #3e3e3f;
}


#page-content {
    padding: 40px 0 0 0;
    justify-content: space-between;
}


.listMenu {
    height: 100%;
    width: 30%;
    position: fixed;
    top: 0;
    left: 0;
    /* font-size: 15px; */
    background-color: #fff;
}
/* Style the sidenav links and the dropdown button */

.listMenu a,
.dropdown-btn {
    padding: 10px 6px 10px 0px;
    text-decoration: none;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}
/* On mouse-over */

.listMenu a:hover,
.dropdown-btn:hover {
    color: #da2121;
}
/* Add an active class to the active dropdown button */
/* .active {
    color: #da2121;
} */
/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */

.dropdown-container {
    display: none;
    padding-left: 0px;
}

#myMenu ul li, #myMenu button{
    border-bottom: 1px solid #c9c5c0!important;
}

#myMenu > ul {
    padding-left: 30px!important;
}

.dropdown-btn.active::after {
    content: "\2212";
    float: right;
}

.dropdown-btn::after {
    content: "\002B";
    float: right;
}

ul.my-ul-menu-lv2 {
    padding-left: 0;
}
ul.my-ul-menu-lv2 li {
    padding-left: 15px;
}

ul li a:hover{
    text-decoration: none;
}

ul li.active a {
    color: #da2121;
}

.dropdown-btn.active {
    color: #da2121;
}

li {
    list-style-type: none;
}

.left-divider {
    border-top: 4px solid #c9c5c0;
    margin-left: 30px;
}

.left-tree ul {
    padding-left: 0!important;
}


.first-lvl {
    height: 40px;
    border-bottom: 2px solid #8b8686;
}

.content-table {
    padding: 0 45px 0 40px!important;
}

#search-bar {
    background-color: #ef0126;
    height: 45px;
    line-height: 45px;
    color: #fff!important;
    margin: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#search-box{
    border: none;
    background-color: #ef0126;
}

#search-box::placeholder {
    font-size: 12px;
    font-style: italic;
}

#search-box, #information {
    border-right: 1px solid #fff;
    padding-left: 8px!important;
}

#information {
    padding-left: 8px!important;
}

#search-box, #information, #search-year{
    padding: 0;
}
#search-year {
    height: 100%;
    background-color: #ef0126;
    text-align-last: center;
    border: none;
    border-top-right-radius: 5px;
}

#search-year option:hover {
    background-color: green!important;
}

table {
    margin-bottom: 0!important;
}

.title-th {
    width: 55%!important;
}
.time-th {
    width: 18%;
}
.look-th {
    width: 9%;
}
.download-th {
    width: 18%;
}

thead {
    background-color: #e6e7e9;
}

td {
    text-align: center;
    border-bottom: 1px solid #c9c5c0!important;
}

th {
    border-bottom: 2px solid #c9c5c0!important;
}

td, th {
    padding-top: 10px!important;
    padding-bottom: 10px!important;
}


.center {
    text-align: center!important;
}
.news-title {
    text-align: left!important;
    padding-left: 25px!important;
}

.table-divider {
    height: 45px;
    border-bottom: 2px solid #c9c5c0;
}

.red {
    color: #ef0126!important;
}

.time {
    font-weight: bold;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
  }

  input:focus {
      outline: none;
  }

  select:focus {
      outline: none;
  }


@media(max-width: 540px) {
    .content-table {
        padding: 0px!important;
    }
}

@media (max-width: 768px){
    body {
        font-size: 10px!important;
    }
}
@media (min-width: 768px){
    body {
        font-size: 12px!important;
    }
}
@media (min-width: 992px){
    body {
        font-size: 14px!important;
    }
}