@charset "UTF-8";
@font-face {
  font-family: myfont;
  src: url(../fonts/Quicksand-SemiBold.ttf) format("opentype");
}

* {
  font-family: myfont;
}

html, body {
  color: #5a574f !important;
  height: 100%;
  margin: 0;
}

ul li a:hover {
  text-decoration: none;
}

ul li.active a {
  color: #da2121;
}

li {
  list-style-type: none;
}

.nav-url {
  height: auto;
  background-color: #e6e7e9;
}

.nav-url .container .breadcrumb {
  background-color: #e6e7e9;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 15px;
  margin-bottom: 0;
}

.nav-url .container .breadcrumb li:not(:first-child)::before {
  content: "►";
  color: #3e3e3f;
}

.nav-url .container .breadcrumb li .this-page {
  color: #ef0126;
}

.nav-url .container .breadcrumb li .pre-page {
  color: #403e3f;
}

.nav-url .container .breadcrumb li .pre-page:hover {
  color: #ef0126;
}

#page-content {
  padding: 40px 0 0 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#page-content .listMenu {
  height: 100%;
  top: 0;
  left: 0;
  /* font-size: 15px; */
  background-color: #fff;
}

#page-content .listMenu a {
  padding: 10px 6px 10px 0px;
  text-decoration: none;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

#page-content .listMenu a:hover {
  color: #ef0126;
}

#page-content .listMenu .left-divider {
  border-top: 4px solid #c9c5c0;
  margin-left: 30px;
}

#page-content .listMenu .dropdown-btn {
  padding: 10px 6px 10px 0px;
  text-decoration: none;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

#page-content .listMenu .dropdown-btn::after {
  content: "\002B";
  float: right;
}

#page-content .listMenu .dropdown-btn.active {
  color: #ef0126;
}

#page-content .listMenu .dropdown-btn.active::after {
  content: "\2212";
  float: right;
}

#page-content .listMenu .dropdown-btn:hover {
  color: #ef0126;
}

#page-content .listMenu .dropdown-container {
  display: none;
  padding-left: 0px;
}

#page-content .listMenu .dropdown-container .my-ul-menu-lv2 {
  padding-left: 0;
}

#page-content .listMenu .dropdown-container .my-ul-menu-lv2 li {
  padding-left: 15px;
}

#page-content .listMenu button {
  border-bottom: 1px solid #c9c5c0 !important;
}

#page-content .listMenu ul {
  padding-left: 30px;
}

#page-content .listMenu ul li {
  border-bottom: 1px solid #c9c5c0 !important;
}

.content-container {
  padding: 0 45px 0 40px !important;
}

.content-container #table-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ef0126;
  line-height: 45px;
  color: #fff !important;
  margin: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

.content-container #table-title img {
  height: 1.8em;
}

.content-container #table-title #update-time {
  text-align: right;
  padding-left: 0;
}

.content-container #search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f2f3f4;
  vertical-align: middle;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.content-container #search-box .search-title {
  width: 25%;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  vertical-align: middle !important;
}

.content-container #search-box .from {
  width: 27.5%;
  line-height: 2em;
}

.content-container #search-box .from input {
  border: none;
  border-radius: 5px;
}

.content-container #search-box .to {
  width: 27.5%;
  line-height: 2em;
}

.content-container #search-box .to input {
  border: none;
  border-radius: 5px;
}

.content-container #search-box .search-btn {
  width: 20%;
  padding-top: 2em;
}

.content-container #search-box .search-btn a button {
  background-color: #ef0126;
  color: #fff;
}

.content-container table {
  border: 1px solid #fff !important;
}

.content-container table thead tr {
  background-color: #ef0126;
  color: #fff;
}

.content-container table thead tr th {
  text-align: center;
  border: 1px solid #fff !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

.content-container table tbody tr td {
  border: 1px solid #fff !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

.content-container table tbody tr:nth-child(odd) td {
  background-color: #e6e7e9;
}

.content-container table tbody tr:nth-child(even) td {
  background-color: #f7f7f8;
}

@media (max-width: 540px) {
  .content-container {
    padding: 15px !important;
  }
  .content-container #search-box {
    display: block;
  }
  .content-container #search-box .search-title {
    display: none;
  }
  .content-container #search-box .from {
    width: 50%;
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
  }
  .content-container #search-box .from input {
    width: 100%;
  }
  .content-container #search-box .to {
    width: 45%;
    display: inline-block;
  }
  .content-container #search-box .to input {
    width: 100%;
  }
  .content-container #search-box .search-btn {
    width: 100%;
    text-align: center;
    padding-top: 1em;
  }
  .content-container #table-title {
    display: block;
  }
  .content-container #table-title #title {
    border-bottom: 1px solid #fff;
  }
  .content-container #table-title #update-time {
    text-align: left;
  }
  #page-content .listMenu {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 12px !important;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 13px !important;
  }
}

@media (max-width: 992px) {
  #page-content .listMenu {
    padding-left: 40px;
    padding-right: 45px;
  }
  #page-content .listMenu .my-ul-menu-lv1 {
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid #c9c8c9;
    background-color: #fdfdfd;
    margin-bottom: 20px;
  }
  #page-content .listMenu .left-divider {
    margin-right: 10px;
  }
}

@media (min-width: 992px) {
  body {
    font-size: 14px !important;
  }
}
/*# sourceMappingURL=lichsugia.css.map */